{% load staticfiles %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>
  <head>
    <title>iGEM Biosensors DB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/main.css' /%}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <h1>iGEM Biosensors DB</h1>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <table id="projects" class="table table-striped table-hover table-responsive">
            <thead>
              <tr>
                <th data-sort="string-ins">Team</th>
                <th data-sort="int">Year</th>
                <th data-sort="string-ins">Title</th>
                <th data-sort="string-ins">Abstract</th>
                <th data-sort="string-ins">Track</th>
                <th data-sort="string-ins">Inputs</th>
                <th data-sort="string-ins">Outputs</th>
                <th data-sort="string-ins">Application</th>
                <th data-sort="string-ins">Results</th>
                <th data-sort="string-ins">Tags</th>
              </tr>
            </thead>

            <tbody>
            {% for project in projects %}
              <tr>
                <td>{{ project.team }}</td>
                <td>{{ project.year }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.abstract }}</td>
                <td>{{ project.track }}</td>
                <td>{{ project.inputs.all|join:',' }}</td>
                <td>{{ project.outputs.all|join:', ' }}</td>
                <td>{{ project.application }}</td>
                <td>{{ project.results.all|join:', ' }}</td>
                <td>{{ project.tags.all|join:', ' }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="col-sm-4">
          <form role="form" class="">
          {% for field in form %}
            <div class="form-group">
              {{ field.label_tag }}
              {% render_field field class+="form-control" %}
              <p class="help-block">{{ field.help_text }}</p>
            </div>
          {% endfor %}

            <button type="submit" class="btn btn-default btn-lg">Search</button>
            <button type="reset" class="btn btn-lg">Reset</button>
          </form>
        </div>
      </div>
    </div>

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/stupidtable.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
